    table
      {
          height: 100%;
          width: 100%;
          border-collapse: collapse;
          border:1px solid black;
      }
     caption
      {
          margin-bottom: 25px;
          font-family: Verdana, Geneva, sans-serif;
          font-size: 250%;
      }
     tr.hervorhebung 
      {
          font-family:Verdana, Geneva, sans-serif;
          font-size: large;
          font-weight:bold;
          color:black;
      }
     td
      {
          padding: 10px;
          border: 1px solid silver;
          vertical-align: top;
      }
     td.markierung 
      {
          background-color: #AFEEEE;
      }
